{% extends 'plantilla.html.twig' %}
{% block titulo %}{{titulo}}{% endblock %}
{% block contenido %}
<div class="canciones">
{% for cancion in canciones %}
            <figure onclick="modificarSrc('{{cancion.archivo}}')">
                <img class="caratula" src="{{ asset('img/' ~ cancion.autor ~ '.jpg') }}" alt="">

                </img>
                <figcaption>{{cancion.titulo}}</figcaption>
            </figure>
{% endfor %}
</div>

<hr>
<div class="canciones">
{% for playlist in playlists %}
        <a href="/playlist/cancions/{{playlist.id}}">
            <figure>
                <img class="caratula" src="{{ asset('img/playlist.jpg') }}" alt="">

                </img>
                <figcaption>{{playlist.nombre}}</figcaption>
            </figure>
        </a>
{% endfor %}
</div>

{% endblock %}