<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySpotify</title>
    <link rel="stylesheet" href="{{asset('css/inicio.css.twig.css')}}">
</head>

<body>
    <header class="encabezado">
        <img id="logoSpotify" src="{{asset('img/logoSpotify.png')}}" alt="">

        <div id="contBusqueda">
            <input type="text" id="songName" placeholder="¿Qué canción quieres escuchar?">
            <a id="contLupa" href="" onclick="modificarSrc()">
                <img id="lupa" src="{{asset('img/buscar.png')}}" alt="">
            </a>
        </div>

        <a id="contCuenta" href="">
            <img id="cuenta" src="{{asset('img/cuenta.png')}}" alt="">
        </a>
    </header>

    <div class="divNav">
        <nav class="nav">
            <ul>
                <li><a href="/cancion">Canciones</a></li>
                <li><a href="/playlist">Playlist</a></li>
            </ul>
        </nav>

        <main class="contenido">
            {% block titulo %}{% endblock %}
            {% block contenido %}{% endblock %}
        </main>
        
    </div>
    <div id="reproductor">
        <audio id="audioPlayer" controls >
            Tu navegador no soporta el elemento de audio.
        </audio>

    </div>

    <footer>
        <h5>© 2025, MySpotify. Todos los derechos reservados</h5>
        <h6>Síguenos en redes</h6>
        <a href=""><img src="{{asset('img/face.png')}}" alt=""></a>
        <a href=""><img src="{{asset('img/x.png')}}" alt=""></a>
        <a href=""><img src="{{asset('img/insta.png')}}" alt=""></a>
        <a href=""><img src="{{asset('img/tiktok.png')}}" alt=""></a>
    </footer>
    <script src="{{asset('script/script.js')}}"></script>
</body>

</html>
